* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecedf2;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 100%;
}

.PostList {
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
}

.post__list {
    padding-top: 0.3%;
}
.post {
    /*width: 100%;*/
    display: flex;
    background-color: white;
    padding: 0.63% 0.95%;
    margin-top: 0.2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.post__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial;
    font-size: 100%;
}

.post__item p {
    font-weight: bold;
}

.post__item img {
    border-radius: 50%;
}

.post button {
    margin: 12px;
    background-color: #fefefe;
    font-family: Arial;
    font-size: 14px;
    color: #263b6a;
    background: transparent;
    border: none !important;
    border-radius: 5px;
}

.post button:hover {
    background-color: #fefefe;
}

.post:hover {
    background-color: #e5e9f4;
}

@media screen and (max-width: 658px){
    .item__email{
        display: none;
    }
    .navbar-item-heading-email{
        display: none;
    }

}

@media screen and (max-width: 500px){
    .item__address{
        display: none;
    }
    .navbar-item-heading-address{
        display: none;
    }
}

@media screen and (max-width: 340px){
    .item__phone{
        display: none;
    }
    .navbar-item-heading-phone{
        display: none;
    }

    .PostList {
        margin-top: 10%;
        font-size: 20px;
    }
}